{
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "endOfLine": "auto",
    "insertPragma": false,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "printWidth": 100,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requireConfig": false,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false,
    "overrides": [],
    "vueIndentScriptAndStyle": true,
    "htmlWhitespaceSensitivity": "ignore",
    "singleAttributePerLine": false,
    "removeUnreachableCode": false
}
